<aside id="menu--sidebar" class="menu--sidebar">
    <div class="nav">
        <a href="/" id="home" tabindex="1" type="button" class="btn" title="" aria-label="Home" data-original-title="Home">{{readerHomeTitle}}</a>
        <button id="btnToc" tabindex="1" type="button" class="btn" title="{{strings.toc}} [{{keyboard.TocShowHideToggle}}]" aria-label="{{strings.toc}} [{{keyboard.TocShowHideToggle}}]" accesskey="{{keyboard.accesskeys.TocShowHideToggle}}">Contents</button>
        <button id="btnBookmark" tabindex="1" type="button" class="btn" title="{{strings.bookmark}}" aria-label="{{strings.bookmark}}">Bookmarks</button>
        <button id="btnSettings" tabindex="1" type="button" class="btn" title="{{strings.settings}} [{{keyboard.ShowSettingsModal}}]" aria-label="{{strings.settings}} [{{keyboard.ShowSettingsModal}}]" accesskey="{{keyboard.accesskeys.ShowSettingsModal}}">Features</button>
        <button type="button" class="close" id="btnCloseSidebar">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div>
        <!-- TOC -->
        <div  class="sidebar__menu-item" id="readium-toc-body" aria-label="{{strings.toc}}" role="navigation">
            <header id="readium-toc-header"></header>
        </div>
        
        <!-- Bookmarks -->
        <div tabindex="-1" class="modal fade sidebar__menu-item" id="bookmarks-dialog" role="dialog" aria-label="{{strings.bookmarks}}">
            <div class="modal-body">
                <div class="tab-content bookmark-list">
                    <h3>Bookmarks</h3>
                    <div class="content-row">
                        <ul>
                          <li><a href="">Coming soon...</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                  <button id="buttCreateBookmark"  type="button" class="btn btn-bookmark" data-dismiss="modal" title="{{strings.i18n_create_bookmark}}" aria-label="{{strings.i18n_create_bookmark}}">{{strings.i18n_create_bookmark}}</button>
                </div>
                
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- END Bookmarks -->

        <!-- SETTINGS -->
        <div tabindex="-1" class="modal fade sidebar__menu-item" id="settings-dialog" role="dialog" aria-label="{{strings.settings}}">
            <div class="modal-body">
                <div class="tab-content reader-actions">
                    <h3>Features</h3>
                    <div class="content-row tts-action">
                        <button class="btn">Read aloud</button>
                        <p><em>Coming Soon</em></p>
                    </div>
                    <div class="content-row annotation-action">
                        <button class="btn">Hypothesis</button>
                        <p><em>Coming Soon</em></p>
                    </div>
                </div>
                <div class="tab-content download-actions">
                    <h3>Download</h3>
                    <div class="content-row">
                        <button class="btn">Kindle Mobi</button>
                        <p><em>Download the .mobi file for Kindle readers</em></p>
                    </div>
                    <div class="content-row">
                        <button class="btn">Ibooks</button>
                        <p><em>Download the .epub file for all readers</em></p>
                    </div>
                </div>
                <div class="tab-content">
                    <h3>Settings</h3>
                    <div id="tab-style" class="tab-pane active" role="tabpanel" aria-expanded="true">
                        <h5 aria-hidden="true">{{strings.preview}}</h5>
                        <div  aria-hidden="true" class="row">
                            <div data-theme="author-theme" class="preview-text author-theme">Meanwhile the wild geese, high in the clean blue air, are heading home again. Whoever you are, no matter how lonely, the world offers itself to your imagination, calls to you like the wild geese, harsh and exciting over and over announcing your place in the family of things.</div>
                        </div>

                        <h5 id="setting-header-font-size" class="setting-header">{{strings.i18n_font_size}}</h5>
                        <div class="row setting-font-size">
                            <p class="col-xs-2 icon-plus-minus">-</p>
                            <div class="col-xs-8">
                                <input  type="range" aria-labelledby="setting-header-font-size" id="font-size-input" min="60" aria-value-min="60" aria-valuemin="60" step="10" max="170" aria-value-max="170" aria-valuemax="170" value="100" aria-valuenow="100" aria-value-now="100" aria-valuetext="1em" aria-value-text="1em" title="{{strings.i18n_font_size}}" aria-label="{{strings.i18n_font_size}}" />
                            </div>
                            <p class="col-xs-2 icon-plus-minus">+</p>
                        </div>

                        <details>
                            <summary id="setting-header-color-legend" class="setting-header">{{strings.i18n_text_and_background_color}}</summary>
                            <div role="group" aria-labelledby="setting-header-color-legend" id="theme-radio-group" class="row">
                                <button role="button" data-theme="author-theme"  title="{{strings.i18n_author_theme}}" aria-label="{{strings.i18n_author_theme}}" class="col-xs-8 col-xs-offset-2 theme-option author-theme clickable">{{strings.i18n_author_theme}}</button>

                                <button role="button" data-theme="night-theme"  title="{{strings.i18n_arabian_nights}} [{{keyboard.NightTheme}}]" aria-label="{{strings.i18n_arabian_nights}} [{{keyboard.NightTheme}}]" class="col-xs-8 col-xs-offset-2 theme-option night-theme clickable" >{{strings.i18n_arabian_nights}}</button> <!-- accesskey="{{keyboard.accesskeys.NightTheme}}" -->
                            </div>
                        </details>
                    </div>

                    <div id="tab-keyboard" class="tab-pane" role="tabpanel">
                        <div class="row" style="position:relative;">
                            <div id="invalid_keyboard_shortcut_ALERT"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="buttSave"  type="button" class="btn" data-dismiss="modal" title="{{strings.i18n_save_changes}} [{{keyboard.SettingsModalSave}}]" aria-label="{{strings.i18n_save_changes}} [{{keyboard.SettingsModalSave}}]">{{strings.i18n_save_changes}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- END SETTINGS -->
    </div>
</aside>

<div id="reading-area" role="main">
  <div id="spinner--book" class="spinner--book">
    <div class="book__page"></div>
    <div class="book__page"></div>
    <div class="book__page"></div>
  </div>
  <div id="epub-reader-container">
    <div id="epub-reader-frame">
    </div>
  </div>

  <div id="readium-page-btns" role="region" aria-label="{{strings.i18n_page_navigation}}">
  <!-- page left/right buttons inserted here when EPUB is loaded (page progression direction) -->
  </div>

</div>
