
#
# See package.cson for more information
#

#=====================
    clean: '

        (yarn --version || echo noyarn)
        &&
        node --version
        &&
        npm --version
        &&
        npm run rimraf
            build-output
        &&
        npm run rimraf
            api-docs/*
        &&
        npm run rimraf
            dist
    '

#=====================
    apidocs: '

        npm run yuidocjs
    '

#=====================
    'prebuild': '

        npm run clean
    '

#=====================
    build: '

        npm run
            build:scripts
    '
# build:styles
# may be needed in a future version of Readium that uses SASS (or other) instead of pure CSS

#=====================
    lint: '

        npm run jshint
            "src/js/**.js"
    '


#=====================
    'preversioning': '

        npm run mkdirp
            build-output
    '

#=====================
    'versioning': '

        node build-config/versioning.js build-output/version.json
    '

#=====================
    'genPluginsConfig': '

        cd readium-js/readium-shared-js/
        &&
        node readium-build-tools/pluginsConfigMaker.js
        &&
        cd ../..
    '

#=====================
    'prebuild:scripts': '

       npm run genPluginsConfig
    '

#=====================
    'build:scripts': '

        npm run versioning
        &&
        npm run
            build:scripts:single:LITE
    '

#=====================
    'build:scripts:single:LITE': '

        npm run rjs
             --rjs_bundle=single
             --rjs_configCustomTarget=_LITE
    '
